:root {
    --purple: #4A148C;
    --light-purple: #933bff;
    --lightest-purple: #b980ff;
}

body {
    background-color: black;
    color: white;
}

.brand-logo {
    margin-left: 20px;
    font-family: 'Libre Barcode 128 Text', sans-serif;
    font-size: 3rem;
}

.bar-blade {
    font-family: 'Dancing Script', cursive;
}

.card {
    margin: auto;
}

.card-outer {
    border: 2px solid var(--light-purple);
    height: fit-content;
    height: -moz-fit-content;
    min-height: 625px !important;
}

.card-header {
    margin: 20px;
    font-size: 3rem;
    color: var(--light-purple);
}

.card-content-padding {
    padding: 0 24px !important;
}

.card-content p {
    margin: 0 0 10px 0 !important;
}

.card-img {
    max-height: 400px;
    width: auto;
    margin-bottom: 20px;
}

.card-heading {
    font-size: 1.5rem;
    margin: 10px 0;
}

.added-by {
    margin-left: 20px;
}

.card {
    color: white;
    background-color: black;
    margin: 0 20px;
}

.card-action-link {
    color: var(--lightest-purple) !important;
    font-size: 1.1rem;
}

.collapsible {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.collapsible-li {
    padding: 0;
    margin: 10px;
}

.favourite-header {
    text-decoration: underline;
}