/* ----------------------------------------------------------------------------------- Variables */

:root {
    --purple: #4A148C;
    --light-purple: #933bff;
    --lightest-purple: #b980ff;
}

/* ----------------------------------------------------------------------------------- CSS Resets */

body {
    background-color: black;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex: 1 0 auto;
}

.btn {
    border: 1px solid black;
}

.bar-blade-shadow {
    text-shadow: 1px 1px white;
}

/* ----------------------------------------------------------------------------------- Navbar */

.brand-logo {
    margin-left: 20px;
    font-family: 'Libre Barcode 128 Text', sans-serif;
    font-size: 3rem;
}

.show-password {
    margin-top: -50px;
}

/* ----------------------------------------------------------------------------------- Homepage */

.bar-blade {
    font-family: 'Dancing Script', cursive;
}

.card {
    color: white;
    background-color: black;
    margin: auto;
}

.card-outer {
    border: 2px solid var(--light-purple);
    height: 550px !important;
}

.card-header {
    margin: 20px;
    font-size: 3rem;
    color: var(--light-purple);
}

.card-content-padding {
    padding: 0 0 0 12px !important;
    height: 350px;
    overflow-y: scroll;
}

.card-content p {
    margin: 0 0 10px 0 !important;
}

.card-img {
    max-height: 400px;
    width: auto;
    margin-bottom: 20px;
}

.card-heading {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}

.added-by {
    margin-left: 20px;
}

.homepage-card {
    margin: 0 20px;
}

.search-row {
    margin-bottom: 0 !important;
}

.search-buttons {
    margin-top: 20px !important;
}

label, input {
    color: white !important;
}

label {
    font-size: 1.2rem !important;
}

/* ----------------------------------------------------------------------------------- Categories page */

.category-card {
    border: 2px solid black;
}

.category-card-content {
    padding: 24px 0 !important;
}

/* ----------------------------------------------------------------------------------- Users page */

.admin-toggle {
    margin-bottom: 20px;
}

/* ----------------------------------------------------------------------------------- Profile page */

.collapsible {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.collapsible-header {
    padding-bottom: 0;
}

.collapsible-li {
    padding: 0;
    margin: 10px;
}

.favourite-header {
    text-decoration: underline;
}

.edit-btn {
    margin-right: 20px;
}

.no-cocktails {
    margin-top: 50px;
}

.delete-card {
    padding-bottom: 20px !important;
}

.profile-row {
    margin-bottom: 0 !important;
}

/* ----------------------------------------------------------------------------------- Modal */

.modal {
    display: none;
    top: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    box-shadow: none;
    -webkit-box-shadow: none;
    z-index: 1;
}

.modal-content {
    background-color: var(--purple);
    margin: 6% auto;
    border: 2px solid white;
    width: 60%;
}

.modal-close {
    font-size: 2rem;
    position: relative;
    top: -15px;
    left: 49%;
}

/* ----------------------------------------------------------------------------------- Pagination */
/* Thanks to mozillazg from GitHub for the base of this code */

.pagination li {
    margin: 5px;
}

.pagination li a {
    color: white;
}

.pagination-page-info {
    padding: 10px;
    width: 100%;
    margin: 10px;
    font-size: 16px;
}

.pagination-page-info b {
    background: var(--purple);
    padding: .1em .25em;
    font-size: 130%;
}

.pagination li.active {
    background-color: var(--purple);
}

/* ----------------------------------------------------------------------------------- Footer */

.page-footer {
    padding-top: 0;
    margin-top: 20px;
    background-color: transparent !important;
}

.footer-row {
    margin-bottom: 0 !important;
}

.footer-copyright {
    background-color: var(--purple) !important;
}

/* ----------------------------------------------------------------------------------- 404 */

.oh-no-h3 {
    font-size: 2rem;
}

.oh-no-p {
    font-size: 1.3rem;
}

/* ----------------------------------------------------------------------------------- Media queries */

@media screen and (max-width: 706px) {
    .search-buttons {
        margin-top: 0 !important;
    }

    .modal h1 {
        font-size: 3rem;
    }
}