/* ----------------------------------------------------------------------------------- Variables */

:root {
    --purple: #4A148C;
    --light-purple: #933bff;
    --lightest-purple: #b980ff;
}

/* ----------------------------------------------------------------------------------- CSS Resets */

body {
    background-color: black;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex: 1 0 auto;
}

/* ----------------------------------------------------------------------------------- Navbar */

.brand-logo {
    margin-left: 20px;
    font-family: 'Libre Barcode 128 Text', sans-serif;
    font-size: 3rem;
}

/* ----------------------------------------------------------------------------------- Homepage */

.bar-blade {
    font-family: 'Dancing Script', cursive;
}

.card {
    color: white;
    background-color: black;
    margin: auto;
}

.card-outer {
    border: 2px solid var(--light-purple);
    height: fit-content;
    height: -moz-fit-content;
    min-height: 550px !important;
}

.card-header {
    margin: 20px;
    font-size: 3rem;
    color: var(--light-purple);
}

.card-content-padding {
    padding: 0 24px !important;
}

.card-content p {
    margin: 0 0 10px 0 !important;
}

.card-img {
    max-height: 400px;
    width: auto;
    margin-bottom: 20px;
}

.card-heading {
    font-size: 1.5rem;
    margin: 10px 0;
}

.added-by {
    margin-left: 20px;
}

.homepage-card {
    margin: 0 20px;
}

.search-row {
    margin-bottom: 0 !important;
}

.search-buttons {
    margin-top: 20px !important;
}

label, input {
    color: white !important;
}

label {
    font-size: 1.2rem !important;
}

/* ----------------------------------------------------------------------------------- Categories page */

.category-card {
    border: 2px solid black;
}

.category-card-content {
    padding: 24px 0 !important;
}

/* ----------------------------------------------------------------------------------- Profile page */

.collapsible {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.collapsible-li {
    padding: 0;
    margin: 10px;
}

.favourite-header {
    text-decoration: underline;
}

.edit-btn {
    margin-right: 20px;
}

.no-cocktails {
    margin-top: 50px;
}

.delete-card {
    padding-bottom: 20px !important;
}

/* ----------------------------------------------------------------------------------- Footer */

.page-footer {
    padding-top: 0;
    margin-top: 20px;
}

.footer-copyright {
    background-color: var(--purple) !important;
}

@media screen and (max-width: 706px) {
    .search-buttons {
        margin-top: 0 !important;
    }
}