{% extends "base.html" %}
{% block content %}
<div class="center-align">
    <div class="divider purple"></div>
    <h2 class="bar-blade">
        404: Page Not Found
    </h2>
    <h3 class="oh-no-h3">
        Oh no! Something went wrong. Please use one of the links in the menu bar to return to safety.
    </h3>
    <div class="divider purple"></div>
    <p class="oh-no-p">
        Take a drink for the road...
    </p>
    <img src="https://i.imgur.com/ySZm4Ya.jpg" alt="An image of a Mojito cocktail">    
</div>

{% endblock %}