<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <!-- Metas -->
    <meta name="description" content="A cocktail recipe site, built for bartenders by bartenders. Find your favourite cocktail recipes, or add your own creations!">
    <meta name="keywords" content="cocktail, bar, bartender, drink, alcohol, mocktail">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="#">
    <meta name="robots" content="index, follow">
    <title>The Bar Blade</title>
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="The Bar Blade" />
    <meta property="og:description" content="A cocktail recipe site, built for bartenders by bartenders. Find your favourite cocktail recipes, or add your own creations!" />
    <meta property="og:image" content="{{ url_for('static', filename='docs/finalsite.png')}}" />
    <meta property="og:url" content="#" />
    <meta property="og:site_name" content="The Bar Blade" />
    <!-- Twitter -->
    <meta name="twitter:title" content="The Bar Blade">
    <meta name="twitter:description" content="A cocktail recipe site, built for bartenders by bartenders. Find your favourite cocktail recipes, or add your own creations!">
    <meta name="twitter:image" content="{{ url_for('static', filename='docs/finalsite.png')}}">
    <meta name="twitter:site" content="@Abi_Hazard">
    <meta name="twitter:creator" content="@Abi_Hazard">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Barcode+128+Text&display=swap" rel="stylesheet">
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Local stylesheets -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended purple darken-4">
            <div class="nav-wrapper">
                <a href="{{ url_for('homepage') }}" class="brand-logo">The Bar Blade</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right" aria-label="navigation menu bar"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('homepage') }}">Home</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_cocktail') }}">Add Cocktail</a></li>
                        {% if session.user|lower == "admin"|lower %}
                            <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><h4 class="center-align purple-text text-darken-4">The Bar Blade</h4></li>
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('add_cocktail') }}">Add Cocktail</a></li>
            {% if session.user|lower == "admin"|lower %}
                <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
            {% endif %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
    <main class="container">
        
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row flashes">
                            <div class="col s12 m8 offset-m2">
                                <h4 class="purple darken-4 center-align">{{ message }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <h1 class="center-align bar-blade">The Bar Blade</h1>

        {% block content %}
        {% endblock %}

    </main>
    {% include "footer.html" %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" async></script>
</body>
</html>