<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row footer-row">
                <div class="col s6">
                    <p class="copyright">Copyright &copy; Abi Harrison <span id="copyright"></span></p>
                </div>
                <div class="col s6 center-align">
                    For independent alcohol advice, information and tools to help people make better choices about their drinking, visit <a href="https://www.drinkaware.co.uk/" class="btn-small purple white-text drink-aware">Drink Aware</a>
                </div>
            </div>
        </div>
    </div>
</footer>