{% extends "base.html" %}
{% block content %}
    <div class="row card">
        {% for recipe in recipes %}
            <div class="col s12 m6 card-outer">
                <h2 class="header card-header bar-blade">{{ recipe.recipe_name }}</h2>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="{{ recipe.recipe_img }}" alt="{{ recipe.recipe_alt }}" class="card-img">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content card-content-padding">
                            <h3 class="card-heading">Category</h3>
                            <p>{{ recipe.category_name.capitalize() }}</p>
                            <h3 class="card-heading">Ingredients</h3>
                            <p>{{ recipe.recipe_list }}</p>
                            <h3 class="card-heading">Method</h3>
                            <p>{{ recipe.recipe_description }}</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="card-action-link">Add to favourites</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}