{% extends "base.html" %}
{% block content %}
    <h3 class="center-align bar-blade">Log In</h3>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel purple darken-4">
                <div class="row white-text">
                    <div class="input-field col s12">
                        <i class="fas fa-user-cog prefix"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9!-.@_]{5,15}$" class="validate white-text" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row white-text">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9!£%~#$%&()*+,-./?@^_~]{5,15}$" class="validate white-text" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row white-text">
                    <div class="input-field col s12">
                        <label class="show-password" for="show-password">
                            <input type="checkbox" id="show-password" class="filled-in" onclick="showPassword()">
                            <span>Show Password</span>
                        </label>
                    </div>
                </div>
                <div class="row white-text">
                    <button type="submit" class="col s4 offset-s4 btn-large purple">
                        Log In
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row white-text">
        <div class="col s12">
            <p class="center-align">
                New here? <a href="{{ url_for('register') }}">Register an account</a>
            </p>
        </div>
    </div>

{% endblock %}