{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="card-panel white-text purple darken-4">
                <h3 class="center-align bar-blade">
                    {{ username }}'s Profile
                </h3>
            </div>
            <div class="card-panel white-text purple">
                <h4 class="center-align bar-blade">
                    {{ username }}'s Cocktails
                </h4>
                <ul class="collapsible">
                    {% for recipe in recipes if (session.user|lower == recipe.added_by|lower) %}
                        <li class="card-panel purple darken-4 collapsible-li">
                            <div class="collapsible-header purple darken-4">
                                <div class="row">
                                    <div class="valign-wrapper col s12">
                                        <i class="fas fa-caret-down prefix "></i>
                                        <a href="{{ url_for('edit_cocktail', recipe_id=recipe._id) }}" class="btn-small purple darken-2 edit-btn">Edit</a>
                                        <span onclick="document.getElementById('modal-{{ recipe._id }}').style.display='block'" class="btn-small purple darken-2 edit-btn">Delete</span>
                                        <div id="modal-{{ recipe._id }}" class="modal">
                                            <span onclick="document.getElementById('modal-{{ recipe._id }}').style.display='none'" class="close-icon white" title="Close Modal"><i class="far fa-times-circle"></i></span>
                                            <div class="modal-content" class="purple darken-4">
                                                <span onclick="document.getElementById('modal-{{ recipe._id }}').style.display='none'" class="modal-close white-text" title="Close Modal"><i class="far fa-times-circle"></i></span>
                                                <h1>Delete Cocktail</h1>
                                                <p>Are you sure you want to delete this cocktail?</p>
                                                <div class="row">
                                                    <div class="col s5 offset-s1">
                                                        <button type="button" class="btn-small purple" onclick="document.getElementById('modal-{{ recipe._id }}').style.display='none'">Cancel</button>
                                                    </div>
                                                    <div class="col s5">
                                                        <a href="{{ url_for('delete_cocktail', recipe_id=recipe._id) }}" class="btn-small red">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <h5 class="bar-blade">{{ recipe.recipe_name }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="collapsible-body purple darken-4">
                                <h6 class="favourite-header"><strong>Category</strong></h6>
                                <p>{{ recipe.category_name.capitalize() }}</p>
                                <h6 class="favourite-header"><strong>Ingredients</strong></h6>
                                <p>{{ recipe.recipe_list }}</p>
                                <h6 class="favourite-header"><strong>Method</strong></h6>
                                <p>{{ recipe.recipe_description }}</p></p>
                            </div>
                        </li>
                    {% else %}
                        <div class="white-text purple center-align">
                            <h4>You haven't added any cocktails yet</h4>
                            <a href="{{ url_for('add_cocktail') }}" class="btn-small purple darken-4 edit-btn">Add a Cocktail</a>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2 card-panel white-text purple darken-4 center-align delete-card">
            <h4>
                Want to delete your account?
            </h4>
            <p>We'll be sad to see you go</p>
            <span onclick="document.getElementById('modal-{{ username }}').style.display='block'" class="btn-small red darken-4 edit-btn">Delete Account</span>
            <div id="modal-{{ username }}" class="modal">
                <span onclick="document.getElementById('modal-{{ username }}').style.display='none'" class="close-icon white" title="Close Modal"><i class="far fa-times-circle"></i></span>
                <div class="modal-content" class="purple darken-4">
                    <span onclick="document.getElementById('modal-{{ username }}').style.display='none'" class="modal-close white-text" title="Close Modal"><i class="far fa-times-circle"></i></span>
                    <h1>Delete Account</h1>
                    <p>Are you sure you want to permanently delete your account?</p>
                    <div class="row">
                        <div class="col s5 offset-s1">
                            <button type="button" class="btn-small green darken-4" onclick="document.getElementById('modal-{{ username }}').style.display='none'">Cancel</button>
                        </div>
                        <div class="col s5">
                            <a href="{{ url_for('delete_account', username=username) }}" class="btn-small red darken-4">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>

{% endblock %}