{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel white-text purple darken-4">
                <h3 class="center-align">
                    {{ username }}'s Profile
                </h3>
            </div>
            <div class="card-panel white-text purple">
                <div class="row">
                    <div class="col s4 offset-m2">
                        <a href="{{ url_for('add_recipe') }}" class="btn-large purple darken-4">Add Cocktail</a>
                    </div>
                    <div class="col s4">
                        <a href="#" class="btn-large purple darken-4">Edit Cocktail</a>
                    </div>
                </div>
                <h4 class="center-align">
                    {{ username }}'s Favourites
                </h4>
                <!-- for favourite in favourites -->
                <ul class="collapsible">
                    {% for recipe in recipes %}
                        <li class="card-panel purple darken-4 collapsible-li">
                            <div class="collapsible-header purple darken-4">
                                <div class="valign-wrapper">
                                    <i class="fas fa-caret-down prefix "></i>
                                </div>
                                <h5 class="bar-blade">{{ recipe.recipe_name }}</h5>
                            </div>
                            <div class="collapsible-body purple darken-4">
                                <h6 class="favourite-header"><strong>Category</strong></h6>
                                <p>{{ recipe.category_name.capitalize() }}</p>
                                <h6 class="favourite-header"><strong>Ingredients</strong></h6>
                                <p>{{ recipe.recipe_list }}</p>
                                <h6 class="favourite-header"><strong>Method</strong></h6>
                                <p>{{ recipe.recipe_description }}</p></p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}